@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:midnightblue">Welcome to our movie ratings site!</h1>
    <p>On this site, you can add different movies and their rankings. In the future, we plan to include some reviews section as well.</p>
</div>

<body style="background-color:lightblue;"></body>
<img src="https://media-cache-ak0.pinimg.com/736x/ec/ef/b5/ecefb510a42c53467336ac3adaea6d29.jpg" alt="See the source image" class="center" tabindex="0" aria-label="See the source image">
<style>
    img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
</style>